* {
padding:0;
margin:0;
vertical-align:baseline;
list-style:none;
border:0
}

body
{
	background-image: radial-gradient(#232323, black);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

h1
{
	display: flex;
	
	font-weight: bold;
	
}
.header
{
	justify-content: center;
	display: flex;
	color:white;
	font-family: sacramento;
	color: #b9a484;
	font-size: xx-large;
	
	
}
.carousel
{
	width: 80vw;
	height: 80vw;
	max-width: 70vh;
	max-height:70vh;
	min-width: 300px;
	min-height: 300px;
	display: flex;	
	margin:	auto;
	margin-left: 0px;
	margin-right: 0px;
	overflow:hidden;
	border-radius: 2000px;
	transition: 1s;
	box-shadow: 50px black inset;
	border-color: #b9a484;
	border-style: solid;
	align-self: center;
	margin-top: 0px;
	border: 3px solid #f2cda6;
}
img
{
	align-self: center;
	width: 80vw;
	height: 80vw;
	max-width: 70vh;
	max-height:70vh;
	min-width: 300px;
	min-height: 300px;
}
.carousel:hover
{
	border-radius: 50px;
}
.telefone
{
	display: flex; 
	align-content:center;
	flex-direction: column;
	row-gap: 5vh;
	color: white;
	font-family: comfortaa;
	text-align: center;
	margin-bottom: 10vh;
}
.telefone h2
{
	font-size: x-large;
	margin-left: 10vw;
	margin-right: 10vw;
}
.telefone a
{
	color: white;
	transition: 300ms;
}
.telefone h3
{
    font-size: large;
}

.telefone a:hover
{
	color: #b9a484;
}
footer
{
	display: block;
	font-size: medium;
	text-align: center;
}
footer a
{
	color: #848484;
}
.adress
{
	color: white;
	font-family: comfortaa;
	background-color: #202020;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.ebano
{
	color: #848484;
}




@media only screen and (min-width : 600px)
/*@media (min-width: 600px)*/
{
.header
{
	grid-area: header;
}
body
{
	display:grid;
	grid-template: 
	"header header" auto
	"a b" auto
	"footer footer" 60px;
	min-height: 100vh;
}
h1
{
	display: flex;
	font-size: 10vw;
	font-weight: bold;
	margin-top: 1vh;
}
.carousel
{
	max-width: 70vh;
	max-height:70vh;
	min-width: 300px;
	min-height: 300px;
	margin-left: 100px;
	margin-right: 20px;
	grid-area: a;
}

.telefone
{
	justify-content: space-around;
	text-align: center;
	margin-left: 0px;
	display: flex;
	justify-content: start;
	justify-content: space-evenly;
	grid-area: b;
}

.telefone h2
{
	font-size: x-large;
	margin-left: 10vw;
	margin-right: 10vw;
}
.telefone a
{
	align-self: center;
}
footer
{
	grid-area: footer;
}
}